body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}
.hasil{
    margin: 5px auto;
}